

{% block title %}Flasky - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
  <form class="navbar-form  " action="" method="post" accept-charset="utf-8">

    <div class="form-group">
      <input class="form-control" type="text" placeholder="Email" name="email" id="email" required>
    <br>
    <br>
    </div>
    <br>
    <div class="form-group">
      <input class="form-control" type="password" placeholder="Password" name="password" id="password">
    </div>

    <div>
      </br>
      <button type="submit" class="btn btn-default">Login</button>
    </div>
    <br>

    
  </form>
</div>
{% endblock %}




